@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
  }
  body{
    background: #f2f2f2;
    /* overflow-y: scroll; */
  }
  a{
    text-decoration: none;
    color: inherit;
    line-height: 1;
    cursor: pointer;
  }
  .container{
    width: 100%;
  }
  .container-body{
    margin-left: 150px;
    padding-top: 120px;
    width: auto;
  }



  @media (max-width: 706px){
    .container-body{
        margin: 0 30px;
        padding-top: 120px;
        width: 100%;
      }
  }