@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
a{
    text-decoration: none;
}
.active{
    background-color: #d3fbbc;
    color: #84EC48;
}
nav{
    width: 100%;
    background: #84EC48;
    color: #fff;
    padding: 15px 10px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
}
nav .auto_img{
    width: 10rem;
}
nav .greetings{
    width: 55%;
}
nav .greetings h2{
    font-size: 1.5rem;
}
nav .profile_section{
    display: flex;
    justify-content: space-between;
}
nav .profile_section a{
    background: #84EC48;
    color: yellow;
    padding-right: 2rem;
    margin-top: .6rem;
}
nav .profile_img{
    width: 2rem;
    height: 2em;
    margin-top: .3rem;
    border-radius: 50%;
}
nav .profile_section div{
    padding-left: 1rem;
}
nav .bars{
    font-size: 1.5rem;
    right: 0;
    cursor: pointer;
    display: none;
}
nav .side_bar{
    top: 0;
    width: auto;
    margin-top: 4.5rem;
    left: 0;
    height: 90%;
    padding: 20px 15px;
    background: #fff;
    position: fixed;
    display: none;
}
nav .side_bar p .icons, .order1{
    color: #84EC48;
    width: 10rem;
    padding: 10px;
    margin-top: .2rem;
    font-size: 1.3rem;
}
nav .side_bar p .icons:hover{
    background: #f2f2f2;
    color: #84EC48;
}
nav .sidebar p, .order1{
    color: #84EC48;
    padding: 5px;
    border-radius: 5px;
    display: flex;
}

.order1{
    margin-left: 5px;
}
.sidebar .order1:hover{
    cursor: pointer;
    background-color: #d3fbbc;
    color: #84EC48;
}
nav a .sub-menu{
    color: #84EC48;
    font-size: .9rem;
    margin-left: 8px;
    padding: 8px;
}
nav a .sub-menu:hover{
    cursor: pointer;
    background-color: #d3fbbc;
    color: #84EC48;
}

nav .side_bar span .logout{
    position: absolute;
    font-size: 1rem;
    bottom: 0;
    color: red;
    padding: 10px 10px 25px;
    width: 10rem;
    filter: hue-rotate(0deg);
}

/**********RESPONSIVENESS***************/
/**********RESPONSIVENESS***************/
@media (max-width: 330px){
    nav .side_section{
        height: 85%;
    }
}
@media (max-width: 400px){
    nav .auto_img{
        width: 7rem;
    }
}
@media (max-width: 430px){
    .profile_section span{
        display: none;
    }
}
@media (max-width: 900px){
    nav .greetings{
        width: 40%;
    }
} 
@media (max-width: 706px){
    .greetings{
        display: none;
    }
    nav .bars{
        display: block;
    }
    nav .side_section{
        display: none;
    }
    /* nav .menu_icon{
        width: 2rem;
        display: block;
    } */
}
